llama-index
llama-index-embeddings-huggingface
llama-index-llms-huggingface
llama-index-vector-stores-faiss
llama-index-vector-stores-chroma
transformers
torch
sentence-transformers
numpy
pandas
matplotlib
seaborn
jupyter
ipykernel
python-dotenv
tiktoken
llama-index-llms-ollama
chromadb
faiss-cpu
nest-asyncio
tqdm
llama-index-llms-ollama
fastapi
uvicorn
