llama-index==0.10.37
llama-index-embeddings-huggingface
llama-index-llms-huggingface
transformers
torch
sentence-transformers
numpy
pandas
matplotlib
seaborn
jupyter
ipykernel
python-dotenv
tiktoken
llama-index-llms-ollama
chromadb
faiss-cpu
nest-asyncio
tqdm
llama-index-llms-ollama
fastapi
uvicorn
